@font-face {
	font-family: 'Montez-Regular';
	src: url('Montez-Regular-webfont.eot') format('eot'),
		 url('Montez-Regular-webfont.woff') format('woff'),
		 url('Montez-Regular-webfont.svg') format('svg'),
		 url('Montez-Regular-webfont.ttf') format('truetype');
}

body {
	padding-top: 50px;
	background: url(mainbg.png) repeat;
}

.billetTitle:hover, .billetTitle:focus {
	text-decoration: none;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
    background-color: #222222;
    color: #b7b6b6;
}

#errorPanel {
	padding-top: 30px;
	padding-bottom: 10px;
}

#imgHeader {
	margin-bottom: 30px;
}
#blockComment {
	border-top: 1px solid #ccc;
    padding-top: 10px;
}

#publishComment {
	margin-top: 10px;
}

.adminTable {
	margin-top: 20px;
	margin-bottom: 20px;

}

#adminBody {
	background-color: white;
}

.carousel-caption.home-carousel {
	top: 10%;
	bottom: auto;
}

.img-article
{
	height:300px;
	background-size:cover;
	margin-bottom: 20px;
}

#commentBtn {
	margin-bottom: 30px;
}

h1 {
	font-family: 'Montez-Regular', arial, verdana, sans-serif;
	font-size: 64px;
}
h2 {
	text-align: center;
	font-family: 'Montez-Regular', arial, verdana, sans-serif;
	font-size: 48px;	
}

p {
	font-family: tahoma, arial, verdana, sans-serif;
}

#carouselHeader{
	margin-bottom: 30px;
}

article {
	
	margin-bottom: 30px;
	background: url(articleBg.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;

}

article p {
	font-weight: bold;
}

