{% extends "layout.html.twig" %}

{% block title %}A propos{% endblock %}

{% block content %}
<div class ="container">
		
	<header class="row">
		<div class="col-sm-12">
			<h1>A propos de l'auteur: </h1>
			<h2>Jean Forteroche</h2>
		</div>
	</header>

	<div class="row">
		<aside class="col-sm-5 xs-hidden">
			<img src="{{ asset('/assets/images/components/Marcel_Proust_1900.jpg') }}" class="img-responsive" alt="profil">
		</aside>


		<section class="col-sm-7">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed aliquam justo. Proin eu elit eros. Donec vitae imperdiet mi. Sed vehicula erat id interdum pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec magna urna, placerat quis mollis sit amet, tincidunt et lorem. Quisque blandit est sed felis dictum hendrerit.<br/>

			Suspendisse felis sem, semper nec erat quis, lobortis efficitur purus. Nam aliquam quam velit, at sagittis odio mollis non. Nullam molestie non nulla sit amet tincidunt. Duis imperdiet congue porttitor. Vestibulum blandit egestas tellus at pellentesque. Fusce condimentum maximus metus, sed aliquam metus auctor id. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse tempus magna sed massa bibendum eleifend. Integer lobortis urna non erat dictum, non volutpat velit finibus.<br/>

			Aliquam dapibus, nisi porta scelerisque imperdiet, erat tellus viverra sem, vitae aliquet odio ex id orci. Donec in tristique mi. Quisque venenatis lobortis nisi. Maecenas dignissim maximus erat vel commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque elementum risus non enim rhoncus laoreet. Mauris non orci quis dolor finibus tristique et commodo turpis.<br/>

			Nam a rutrum ex, auctor molestie massa. Phasellus lobortis sapien interdum maximus semper. Ut rhoncus mauris in velit commodo elementum. Ut ac erat ultrices, consectetur sapien rhoncus, mollis sapien. Nulla at aliquam mi. Morbi in nulla id urna hendrerit ornare. Mauris ornare ornare urna. Fusce quis venenatis lectus. Nullam ultrices justo ultricies nulla consequat, quis facilisis sem lobortis. Etiam a nunc nec justo malesuada ullamcorper vel mattis dui.<br/>

			Phasellus hendrerit cursus porttitor. Proin pretium a velit et cursus. Quisque eu est gravida metus volutpat gravida varius eget massa. Ut molestie, elit ac placerat cursus, nulla elit suscipit risus, at rhoncus lorem est quis arcu. Donec lobortis ligula et eros posuere egestas. Sed pulvinar tellus molestie turpis vehicula ultrices. Mauris consequat feugiat nibh vel sagittis. Nunc eget nulla tempor, commodo tellus sed, condimentum sem. Aliquam erat volutpat. Aenean vel gravida arcu. Vivamus eget quam libero. Donec mi lacus, vestibulum eu quam sit amet, aliquam rutrum nisl. Sed venenatis, nunc at tristique vulputate, sem lacus aliquam ex, eget venenatis eros tortor et tellus.</p>
		</section>
	</div>
</div>

{% endblock %}